.full-image{
    background-size: cover 
}

body {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.list {         list-style-type: none; }

.ba {
    border-style: solid;
    border-width: 1px;
<<<<<<< HEAD
}

.temp{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 22px;
    background-color: black;
    opacity: 0.7;
}

.todobox{
    padding-left: 20px;
    color: white;
}

.block-quote{
    color: white
=======
>>>>>>> 9d1fc75419333cefe5bb92bc7992fb5f75da4a22
}